
#screenshot-overlay {
  position: fixed;
  inset: 0;
  cursor: crosshair;
  background: rgba(23, 141, 96, 0.308);
  z-index: 2147483647;
}
#selection {
  position: absolute;
  border: 2px solid #0786ad;
  background: rgba(231, 233, 235, 0.199);
}
