#screenshot-overlay {
  position: fixed;
  inset: 0;
  cursor: crosshair;
  background: rgba(74, 223, 166, 0.37);
  z-index: 2147483647;
}
#selection {
  position: absolute;
  border: 2px solid #0786ad;
  background: rgba(131, 131, 134, 0.068);
}

.screenshot-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1f2937; /* Темный цвет */
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  font-size: 14px;
  z-index: 9999999; /* Поверх всего */
  transform: translateY(100px);
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  border-left: 4px solid #0786ad; /* Ваш фирменный цвет */
}

.screenshot-toast.show {
  transform: translateY(0);
}

.screenshot-toast-icon {
  color: #0786ad;
  font-weight: bold;
}