
#screenshot-overlay {
  position: fixed;
  inset: 0;
  cursor: crosshair;
  background: rgba(206, 209, 4, 0.774);
  z-index: 2147483647;
}
#selection {
  position: absolute;
  border: 2px solid #97b31f;
  background: rgb(231, 233, 235);
}
