#screenshot-overlay {
  position: fixed;
  inset: 0;
  cursor: crosshair;
  background: rgba(74, 223, 166, 0.37);
  z-index: 2147483647;
}
#selection {
  position: absolute;
  border: 2px solid #0786ad;
  background: rgba(229, 229, 235, 0.007);
}
